.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: deepskyblue;
}

.navigation a {
    text-decoration: dashed;
}



@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width:600ox) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
}

.navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 1, 2, 3);
}